.about {
  background-color: $color-light-xl;
}

.about__wrapper {
  padding: 80px 215px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
}

.about__text {
  margin-top: 25px;
}