.about {
  background-color: $color-light-xl;
}

.about__wrapper {
  padding: 80px 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
  width: 60%;

  @media (max-width: 991px) {
    flex-direction: column-reverse;
    gap: 80px;
  }
}

.about__text {
  margin-top: 25px;
}