.about {
  background-color: $color-light-xl;
}

.about__wrapper {
  padding: 80px 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  width: 75%;
  max-width: 930px;

  @media (max-width: 991px) {
    width: 80%;
    flex-direction: column-reverse;
    gap: 80px;
  }
}

.about__description {
  width: 61%;
  max-width: 430px;

  @media (max-width: 991px) {
    width: 80%;
    max-width: none;
  }
}

.about__text {
  margin-top: 25px;
}

.about__img {
  width: 36%;
  max-width: 300px;
  height: fit-content;

  @media (max-width: 991px) {
    width: 100%;
  }
}


