.footer {
  background-image: url('../src/img/background/noise_transparent.png'), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) ;
  background-size: auto;
  background-repeat: repeat;
}

.footer__wrapper {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: 40px 40px 0;

  h3 {
    color: $color-light-xl;
  }

  @media (max-width: 991px) {
    justify-content: space-evenly;
    gap: 30px;
    padding-top: 32px;
  }
}

.contacts {
  width: 280px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 16px;
  padding-bottom: 60px;
  justify-content: space-between;

  @media (max-width: 991px) {
    padding-top: 0px;
    padding-bottom: 35px;
  }
}

.address {
  width: 302px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 16px;
  padding-bottom: 60px;
  justify-content: space-between;

  @media (max-width: 991px) {
    padding-top: 0px;
    padding-bottom: 35px;
  }
}

.footer__link {
  color: $color-primary;
  display: flex;
  align-items: center;
  gap: 20px;

  @include font(2rem, 2.3rem);

  letter-spacing: 0.06em;
  text-align: left;
}

.footer__icon {
  height: 32px;
}

.footer__img {
  display: block;
  width: 300px;
  height: fit-content;
  align-self: flex-end;
}
