.footer {
  background-image: url('../src/img/background/noise_transparent.png'), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) ;
  background-size: auto;
  background-repeat: repeat;
}

.footer__wrapper {
  display: flex;
  gap: 140px;

  height: 350px;
  padding: 60px 40px;

  background-image: url('../src/img/background/footer-puppy.png');
  background-repeat: no-repeat;
  background-position: 96% bottom;
  background-size: contain 90%;

  h3 {
    color: $color-light-xl;
  }
}

.contacts {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.address {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__link {
  color: $color-primary;
  display: flex;
  align-items: center;
  gap: 20px;

  @include font(2rem, 2.3rem);

  letter-spacing: 0.06em;
  text-align: left;
}

.footer__icon {
  height: 32px;
}
