.help {
  background-color: $color-light-xl;
}

.help__wrapper {
  padding: 80px 0 100px;

  h3 {
    width: 340px;
    margin: 0 auto;
    text-align: center;
  }
}

.help__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 120px;
  row-gap: 55px;
  margin: 65px auto 0;
  width: 90%;

  @media (max-width: 991px) {
    gap: 60px;
    row-gap: 58px;
  }
}

.help__items {
  @include font (2rem, 2.3rem);
  letter-spacing: 0.06em;
  text-align: center;
  width: fit-content;

  @media (max-width: 991px) {
    width: 170px;
    justify-content: space-between;
  }
}

.help__icon {
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  margin-bottom: 27px;
}