.in-addition {
  background-color: $color-light-l;
}

.in-addition__wrapper {
  padding: 80px 0 100px;
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;
  width: 72%;
  max-width: 915px;

  h3 {
    max-width: 80%;
  }

  @media (max-width: 991px) {
    width: 66%;
    flex-direction: column-reverse;
    gap: 60px;
  }
}

.addition__img {
  @media (max-width: 991px) {
    width: 100%;
    height: auto;
  }
}

.addition__text {
  @media (max-width: 991px) {
    min-width: 380px;
    width: 75%;
  }
}

.addition__description {
  @include font (1.5rem, 1.7rem);
  letter-spacing: 0.06em;
  text-align: left;
  margin: 20px 0;

  @media (max-width: 991px) {
    width: 100%;
    margin: 18px 0;
  }
}

.addition__legal {
  @include font (1.2rem, 1.8rem);

  font-style: italic;
  letter-spacing: 0px;
  text-align: left;

  margin-top: 20px;
  color: $color-dark-m;

  @media (max-width: 991px) {
    width: 100%;
  }
}

.addition__card-link {
  display: block;
  width: 350px;
  height: 45px;
  border-radius: 9px;
  background-color: $color-primary;
  background-image: url('../src/img/svg/icons/credit-card.svg');
  background-position: 15px center;
  background-repeat: no-repeat;

  padding: 10px 15px;

  @include font (2rem, 2.3rem);
  text-align: right;
  letter-spacing: 0.06em;
  color: $color-dark-l;

  text-decoration: none;

  &:hover {
    background-color: $color-primary-light;
    border-color: $color-primary-light;
    color: $color-dark-3xl;
  }

  &:active {
    background-color: $color-primary;
    border: 2px solid $color-primary;
    box-shadow: 8px 8px 6px -4px rgba(0, 0, 0, 0.2);
  }
}