.in-addition {
  background-color: $color-light-l;
}

.in-addition__wrapper {
  padding-top: 80px;
  padding-bottom: 100px;
  display: flex;
  gap: 30px;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  max-width: 995px;

  h3 {
    margin-top: 3px;
    max-width: 80%;

    @media (max-width: 991px) {
      margin-top: 0px;
    }

    @media (max-width: 489px) {
      width: 100%;
    }
  }

  @media (max-width: 991px) {
    width: 80%;
    flex-direction: column-reverse;
    gap: 60px;
  }

  @media (max-width: 489px) {
    padding-top: 42px;
    padding-bottom: 42px;
    width: 100%;
    gap: 43px;
  }
}

.addition__img {
  width: 55%;
  max-width: 505px;
  height: auto;

  @media (max-width: 991px) {
    width: 100%;
    height: auto;
  }

  @media (max-width: 489px) {
    min-width: 260px;
    width: 80%;
    height: auto;
  }
}

.addition__text {
  width: 40%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;


  @media (max-width: 991px) {
    min-width: 300px;
    width: 68%;
  }

  @media (max-width: 489px) {
    min-width: 281px;
    width: 90%;

    justify-content: center;
    align-items: center;
  }
}

.addition__description {
  @include font (1.5rem, 1.65rem);
  letter-spacing: 0.06em;
  text-align: left;
  margin: 20px 0;

  @media (max-width: 991px) {
    width: 100%;
    margin: 18px 0;
  }

  @media (max-width: 489px) {
    @include font (1.5rem, 2.4rem);
    letter-spacing: 0;
    text-align: center;
    margin: 20px 0;
  }
}

.addition__legal {
  @include font (1.2rem, 1.8rem);

  font-style: italic;
  letter-spacing: 0px;
  text-align: left;

  margin-top: 18px;
  color: $color-dark-m;

  @media (max-width: 991px) {
    margin-top: 20px;
  }

  @media (max-width: 468px) {
    text-align: justify;
  }
}

.addition__card-link {
  display: block;
  width: 350px;
  height: 45px;
  border-radius: 9px;
  background-color: $color-primary;
  background-image: url('../src/img/svg/icons/credit-card.svg');
  background-position: 15px center;
  background-repeat: no-repeat;

  padding: 10px 15px;

  @include font (2rem, 2.3rem);
  text-align: right;
  letter-spacing: 0.06em;
  color: $color-dark-l;

  text-decoration: none;

  &:hover {
    background-color: $color-primary-light;
    border-color: $color-primary-light;
    color: $color-dark-3xl;
  }

  &:active {
    background-color: $color-primary;
    border: 2px solid $color-primary;
    box-shadow: 8px 8px 6px -4px rgba(0, 0, 0, 0.2);
  }

  @media (max-width: 489px) {
    @include font (1.5rem, 2.2rem);
    letter-spacing: 0.06em;

    width: 281px;
    height: 42px;

    background-size: 10%;
  }
}