.our-friends {
  background-color: $color-light-l;
}

.our-friends__wrapper { // double for our-friends-pets__wrapper
  position: relative;
  padding-top: 80px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .our-friends__header {
    width: 400px;
    text-align: center;

    @media (max-width: 489px) {
      width: 100%;
    }
  }

  @media (max-width: 489px) {
    padding-top: 42px;
    padding-bottom: 42px;
    width: 100%;
    gap: 0px;
  }
}

.friends__wrapper_hidden {
  overflow: hidden;
  width: 990px;

  @media (max-width: 991px) {
    width: 580px;
  }


  @media (max-width: 489px) {
    width: 270px;
  }

}

.friends__wrapper {
  position: relative;
  display: flex;
  padding: 60px 0px;
  left: -990px;
  width: 100%;
  // gap: 10px;
  // justify-content: space-between;

  @media (max-width: 991px) {
    padding: 60px 0px;
    // justify-content: center;
    // gap: 40px;
    left: -580px;
  }

  @media (max-width: 489px) {
    // width: 100%;
    padding: 40px 0px;
    margin-bottom: 75px;
    left: -270px;
  }
}

.friends__slide {
  display: flex;
  width: 990px;
  gap: 90px;
  justify-content: space-between;

  @media (max-width: 991px) {
    gap: 40px;
    width: 580px;
  }

  @media (max-width: 489px) {
    width: 270px;
    gap: 0px;
  }
}

@keyframes move-right-desktop {
  from {left: -990px;}
  to {left: -1980px;}
}

@keyframes move-right-tablet {
  from {left: -580px;}
  to {left: -1160px;}
}

@keyframes move-right-mobile {
  from {left: -270px;}
  to {left: -540px;}
}

.transition-right {
  animation-name: move-right-desktop;
  animation-duration: 2s;

  @media (max-width: 991px) {
    animation-name: move-right-tablet;
    animation-duration: 2s;
  }

  @media (max-width: 489px) {
    animation-name: move-right-mobile;
    animation-duration: 2s;
  }
}

@keyframes move-left-desktop {
  from {left: -990px;}
  to {left: 0px;}
}

@keyframes move-left-tablet {
  from {left: -580px;}
  to {left: 0px;}
}

@keyframes move-left-mobile {
  from {left: -270px;}
  to {left: 0px;}
}

.transition-left {
  animation-name: move-left-desktop;
  animation-duration: 2s;

  @media (max-width: 991px) {
    animation-name: move-left-tablet;
    animation-duration: 2s;
  }

  @media (max-width: 489px) {
    animation-name: move-left-mobile;
    animation-duration: 2s;
  }
}

.arrow {
  display: block;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 2px solid $color-primary;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;

  position: absolute;
  top: calc(50% - 15px);
  z-index: 1;

  @media (max-width: 489px) {
    top: 603px;
  }

  &:hover {
    cursor: pointer;
    border: 2px solid $color-primary-light;
    background-color: $color-primary-light;
  }

  &:active {
    cursor: pointer;
    border: 2px solid $color-primary;
    background-color: $color-primary;
  }

  &_left {
    background-image: url('../src/img/svg/Arrow_left.svg');
    left: 3%;

    @media (max-width: 489px) {
      left: 67px;
    }
  }

  &_right {
    background-image: url('../src/img/svg/Arrow_right.svg');
    right: 3%;

    @media (max-width: 489px) {
      right: 67px;
    }
  }
}

.friends__card {
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-light-s;
  border-radius: 9px;
  padding-bottom: 30px;

  @media (max-width: 489px) {
    // width: 100%;
  }

  &:hover {
    cursor: pointer;
    @extend %transition;
    background-color: $color-light-xl;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);

    .button-link_bordered {
      background-color: $color-primary-light;
      border-color: $color-primary-light;
      color: $color-dark-3xl;
    }
  }

  &:active {
    opacity: 0.7;
  }
}

.friend__img {
  height: auto;
  width: 100%;
}

.friend__name {
  margin: 30px 0;
}

.friends__card_hide991 {
  @media (max-width: 991px) {
    display: none;
  }
}

.friends__card_hide489 {
  @media (max-width: 489px) {
    display: none;
  }
}

