.our-friends-pets {
  background-color: $color-light-l;
}

.our-friends-pets__wrapper { // double for our-friends__wrapper
  padding-top: 200px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    width: 400px;
    text-align: center;
  }

  @media (max-width: 991px) {
    padding-bottom: 75px;
  }
}

.friends-cards__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;

  margin: 60px 0;

  @media (max-width: 991px) {
    justify-content: center;
    margin: 30px 0 45px;
    column-gap: 40px;
    row-gap: 30px;
  }
}