.our-friends-pets {
  background-color: $color-light-l;
}

.our-friends-pets__wrapper { // double for our-friends__wrapper
  padding-top: 200px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;

  .our-friends-pets__header {
    width: 400px;
    text-align: center;

    @media (max-width: 489px) {
      width: 100%;
    }
  }

  @media (max-width: 991px) {
    padding-bottom: 75px;
  }

  @media (max-width: 489px) {
    padding-top: 160px;
    padding-bottom: 40px;
  }
}

.friends-cards__wrapper_hidden {
  overflow: hidden;
  max-width: 1200px;

  @media (max-width: 991px) {
    max-width: 580px;
  }
  @media (max-width: 489px) {
    max-width: 270px;
  }
}

.friends-card__slide {
  // width: 100%;
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  margin: 60px 0;

  @media (max-width: 991px) {
    justify-content: center;
    margin: 30px 0 45px;
    column-gap: 40px;
    row-gap: 30px;
    width: 580px;
  }

  @media (max-width:489px) {
    width: 90%;
    margin-top: 45px;
    width: 270px;
  }
}

.slide_active {
  position: relative;
  left: 0;
}

.friends-cards__wrapper {
  display: flex;
  width: fit-content;
  position: relative;
  // left: 0;
  transition: 2s;
}

.transition-right-pets {
  animation-name: move-right-pets-desktop;
  animation-duration: 2s;
}

.transition-left-pets {
  animation-name: move-left-pets-desktop;
  animation-duration: 2s;
}

@keyframes move-right-pets-desktop {
  from {left: 0;}
  to {left: -100%;}
}

@keyframes move-left-pets-desktop {
  from {left: 100%;}
  to {left: 0px;}
}
