.our-friends {
  background-color: $color-light-l;
}

.our-friends__wrapper { // double for our-friends-pets__wrapper
  padding-top: 80px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    width: 400px;
    text-align: center;

    @media (max-width: 489px) {
      width: 100%;
    }
  }

  @media (max-width: 489px) {
    padding-top: 42px;
    padding-bottom: 42px;
    width: 100%;
    gap: 5px;
  }
}

.friends__wrapper {
  position: relative;
  display: flex;
  padding: 60px 105px;
  width: 100%;
  gap: 10px;
  justify-content: space-between;

  @media (max-width: 991px) {
    padding: 60px 64px;
    justify-content: center;
    gap: 40px;
  }

  @media (max-width: 489px) {
    width: 100%;
    padding: 40px 15px;
    margin-bottom: 70px;
  }
}

.arrow {
  display: block;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 2px solid $color-primary;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;

  position: absolute;
  top: calc(50% - 26px);

  @media (max-width: 489px) {
    top: calc(100% - 20px);
  }

  &:hover {
    cursor: pointer;
    border: 2px solid $color-primary-light;
    background-color: $color-primary-light;
  }

  &:active {
    cursor: pointer;
    border: 2px solid $color-primary;
    background-color: $color-primary;
  }

  &_left {
    background-image: url(../src/img/svg/Arrow_left.svg);
    left: 0;

    @media (max-width: 489px) {
      left: calc(30% - 34px);
    }
  }

  &_right {
    background-image: url(../src/img/svg/Arrow_right.svg);
    right: 0;

    @media (max-width: 489px) {
      right: calc(30% - 34px);
    }
  }
}

.friends__card {
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-light-s;
  border-radius: 9px;
  padding-bottom: 30px;

  @media (max-width: 489px) {
    width: 100%;
  }

  &:hover {
    cursor: pointer;
    @extend %transition;
    background-color: $color-light-xl;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);

    .button-link_bordered {
      background-color: $color-primary-light;
      border-color: $color-primary-light;
      color: $color-dark-3xl;
    }
  }

  &:active {
    opacity: 0.7;
  }
}

.friend__img {
  height: auto;
  width: 100%;
}

.friend__name {
  margin: 30px 0;
}

.friends__card_hide991 {
  @media (max-width: 991px) {
    display: none;
  }
}

.friends__card_hide489 {
  @media (max-width: 489px) {
    display: none;
  }
}

