html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.5 rem;
  font-family: Georgia;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 3.2rem;
  line-height: 3.5rem;
  letter-spacing: 6%;
  text-align: left;
  color: $color-primary;
}

h2 {
  font-size: 44px;
  line-height: 57px;
  letter-spacing: 0em;
  text-align: left;
  color: $color-light-xl;
}

h3 {
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  text-align: left;
  color: $color-dark-l;
}


