.navigation__link, .logo-link, .friends__card:hover {
  transition: all 0.3s ease-out;
}

.button-link, body {
  font-family: "Georgia", "Times New Roman", Times, serif;
}

.navigation__link, .logo__text, p {
  font-family: "Arial", Helvetica, sans-serif;
}

@font-face {
  font-family: "Arial";
  src: local("Arial Italic"), local("Arial-ItalicMT"), url("../src/fonts/arial/Arial-ItalicMT.woff2") format("woff2"), url("../src/fonts/arial/Arial-ItalicMT.woff") format("woff"), url("../src/fonts/arial/Arial-ItalicMT.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: local("Arial"), local("ArialMT"), url("../src/fonts/arial/ArialMT.woff2") format("woff2"), url("../src/fonts/arial/ArialMT.woff") format("woff"), url("../src/fonts/arial/ArialMT.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: local("Georgia"), url("../src/fonts/georgia/Georgia.woff2") format("woff2"), url("../src/fonts/georgia/Georgia.woff") format("woff"), url("../src/fonts/georgia/Georgia.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: local("Georgia Italic"), local("Georgia-Italic"), url("../src/fonts/georgia/Georgia-Italic.woff2") format("woff2"), url("../src/fonts/georgia/Georgia-Italic.woff") format("woff"), url("../src/fonts/georgia/Georgia-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.5rem;
  text-align: left;
  color: #F1CDB3;
}

h2 {
  font-size: 4.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 5.7rem;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}

h3 {
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4.5rem;
  letter-spacing: 0.06em;
  text-align: left;
  color: #545454;
}

h4 {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;
  letter-spacing: 0.06em;
  text-align: center;
}

p {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: 0px;
  text-align: left;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.header {
  padding: 30px 0;
  position: relative;
  z-index: 1;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_pets {
  background-color: #FFFFFF;
}

.not-only {
  background-image: url("../src/img/background/noise_transparent.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  background-size: auto;
  background-repeat: repeat;
  margin-top: -120px;
}

.not-only__wrapper {
  padding-top: 180px;
  display: flex;
  gap: 42px;
}

.not-only__img {
  display: block;
}

.not-only__text {
  align-items: center;
  padding-top: 165px;
}

.not-only__description {
  margin: 40px 0 42px;
  color: #CDCDCD;
}

.about {
  background-color: #FFFFFF;
}

.about__wrapper {
  padding: 80px 175px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
}

.about__text {
  margin-top: 25px;
}

.our-friends {
  background-color: #F6F6F6;
}

.our-friends__wrapper {
  padding: 90px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our-friends__wrapper h3 {
  text-align: center;
  width: 400px;
}

.friends__wrapper {
  position: relative;
  display: flex;
  padding: 60px 105px;
  gap: 90px;
}

.arrow {
  display: block;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 2px solid #F1CDB3;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: calc(50% - 26px);
}
.arrow:hover {
  cursor: pointer;
  border: 2px solid #FDDCC4;
  background-color: #FDDCC4;
}
.arrow:active {
  cursor: pointer;
  border: 2px solid #F1CDB3;
  background-color: #F1CDB3;
}
.arrow_left {
  background-image: url(../src/img/svg/Arrow_left.svg);
  left: 0;
}
.arrow_right {
  background-image: url(../src/img/svg/Arrow_right.svg);
  right: 0;
}

.friends__card {
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FAFAFA;
  border-radius: 9px;
  padding-bottom: 30px;
}
.friends__card:hover {
  cursor: pointer;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.friends__card:hover .button-link_bordered {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
  color: #292929;
}
.friends__card:active {
  opacity: 0.7;
}

.friend__img {
  height: 270px;
  width: 270px;
}

.friend__name {
  margin: 30px 0;
}

.help {
  background-color: #FFFFFF;
}

.help__wrapper {
  padding: 80px 0 70px;
}
.help__wrapper h3 {
  width: 340px;
  margin: 0 auto;
  text-align: center;
}

.help__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.help__items {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  text-align: center;
  margin: 25px 60px 30px;
}

.help__icon {
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  margin-bottom: 27px;
}

.in-addition {
  background-color: #F6F6F6;
}

.in-addition__wrapper {
  padding: 60px 143px 80px;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.in-addition__wrapper h3 {
  max-width: 80%;
}

.addition__description {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7rem;
  letter-spacing: 0.06em;
  text-align: left;
  margin: 20px 0;
}

.addition__legal {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8rem;
  font-style: italic;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 20px;
  color: #B2B2B2;
}

.addition__card-link {
  display: block;
  width: 350px;
  height: 45px;
  border-radius: 9px;
  background-color: #F1CDB3;
  background-image: url("../src/img/svg/icons/credit-card.svg");
  background-position: 15px center;
  background-repeat: no-repeat;
  padding: 10px 15px;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.3rem;
  text-align: right;
  letter-spacing: 0.06em;
  color: #545454;
  text-decoration: none;
}

.footer {
  background-image: url("../src/img/background/noise_transparent.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  background-size: auto;
  background-repeat: repeat;
}

.footer__wrapper {
  display: flex;
  gap: 140px;
  height: 350px;
  padding: 60px 0;
  background-image: url("../src/img/background/footer-puppy.png");
  background-repeat: no-repeat;
  background-position: right 40px;
  background-size: contain 90%;
}
.footer__wrapper h3 {
  color: #FFFFFF;
}

.contacts {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.address {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__link {
  color: #F1CDB3;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  text-align: left;
}

.footer__icon {
  height: 32px;
}

.our-friends-pets {
  background-color: #F6F6F6;
}

.our-friends-pets__wrapper {
  padding: 80px 0 102px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our-friends-pets__wrapper h3 {
  width: 400px;
  text-align: center;
}

.friends-cards__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  margin: 60px 0;
}

.logo-link {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.06em;
  text-align: center;
  margin-top: 2px;
}

.logo-link,
.logo-link:active,
.logo-link:visited,
.logo-link:hover,
.logo-link:focus,
.logo-link:active {
  color: inherit;
}

.logo-link:hover,
.logo-link:focus {
  opacity: 0.5;
}

.logo-link:active {
  opacity: 0.8;
  text-shadow: 0px 0px 8px rgb(0, 0, 0);
}

.logo__text {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  margin-top: 8px;
  text-align: center;
}
.logo__text_pets {
  color: #292929;
}

.logo__header_pets {
  color: #545454;
}

.navigation {
  display: flex;
  gap: 36px;
}

.navigation__item {
  list-style: none;
}

.navigation__link {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #CDCDCD;
  padding-bottom: 2px;
}
.navigation__link:active {
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
}
.navigation__link:hover {
  color: #FAFAFA;
}
.navigation__link_pets {
  color: #545454;
}
.navigation__link_pets:hover {
  color: #292929;
}

.navigation__link_active {
  cursor: default;
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
}
.navigation__link_active_pets {
  color: #292929;
}
.navigation__link_active_pets:hover {
  color: #292929;
}

.button-link {
  display: block;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  text-decoration: none;
  letter-spacing: 0.06em;
  text-align: center;
  color: #292929;
  border-radius: 100px;
  padding: 14px 43px;
  cursor: pointer;
  width: fit-content;
}
.button-link_colored {
  background-color: #F1CDB3;
  border: 2px solid #F1CDB3;
}
.button-link_bordered {
  border: 2px solid #F1CDB3;
  background-color: transparent;
}
.button-link:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
  color: #292929;
}
.button-link:active {
  background-color: #F1CDB3;
  border: 2px solid #F1CDB3;
  box-shadow: 8px 8px 6px -4px rgba(0, 0, 0, 0.2);
}

.pagination__item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  margin: 0 8px;
}
.pagination__item_inactive {
  border: 2px solid #CDCDCD;
  color: #CDCDCD;
}
.pagination__item_active {
  border: 2px solid #F1CDB3;
  color: #292929;
}
.pagination__item_active:hover {
  cursor: pointer;
  border: 2px solid #FDDCC4;
  background-color: #FDDCC4;
}
.pagination__item_active:active {
  border: 2px solid #F1CDB3;
  background-color: #F1CDB3;
}
.pagination__item_active_page-number, .pagination__item_active_page-number:hover, .pagination__item_active_page-number:active {
  cursor: default;
  background-color: #F1CDB3;
  border: 2px solid #F1CDB3;
}

/*# sourceMappingURL=style.css.map */
