%burger-menu-line {
  display: inline-block;
  content: '';
  position: absolute;
  background-color: $color-primary;
  width: 100%;
  height: 2px;
}

.burger-menu {
  display: none;

  @media (max-width: 767px) {
    display: block;
  }
}

.burger-menu__button {
  display: none;
  position: relative;
  width: 30px;
  height: 22px;

  @media (max-width: 767px) {
    display: block;
  }
}

.burger-menu__line {
  @extend %burger-menu-line;
  top: calc(50% - 1px);

  &:before {
    @extend %burger-menu-line;
    top: 10px;
  }

  &:after {
    @extend %burger-menu-line;
    bottom: 10px;
  }
}

.burger-menu__line_pets:before,
.burger-menu__line_pets,
.burger-menu__line_pets:after {
  background-color: #000000;
}