.button-link {
  display: block;

  @include font (17px, 22px);

  text-decoration: none;
  letter-spacing: 0.06em;
  text-align: center;
  color: $color-dark-3xl;
  // width: 207px;
  // height: 52px;
  border-radius: 100px;
  padding: 15px 44px;
  border-color: $color-primary;
  cursor: pointer;
  width: fit-content;

  &_colored {
    background-color: $color-primary;

    &:hover {
      background-color: $color-primary-light;
      color: $color-dark-3xl;
    }
  }

  &_bordered {
    border: 2px solid $color-primary;
  }
}



