.button-link {
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Georgia;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.06em;
  text-align: center;
  color: $color-dark-3xl;
  width: 207px;
  height: 52px;
  border-radius: 100px;
  padding: 15px 44px;
  border-color: $color-primary;
  cursor: pointer;
}

.button-link_colored {
  background-color: $color-primary;

  &:hover {
    background-color: $color-primary-light;
    color: $color-dark-3xl;
  }
}

